/* The root selector which holds all my variables */
:root {
    /* Rubik font */
    --rubik: 'Rubik', sans-serif;
    /* Poppins font */
    --poppins: 'Poppins', sans-serif;
    /* Font weights */
    --light: 300;
    --regular: 400;
    --medium: 500;
    --semi-bold: 600;
    --bold: 700;
    --extra-bold: 800;
    --black: 900;
    /* Color scheme */
    --dark-gray: #353A3F;
    --candy-red: #DE3A53;
    --light-red: #de3a5344;
    --light-white: #F6F7F8;
    --tan: #F9F5F2;
    --white: white;
}


body {
    background-color: var(--light-white);
}
/* General styling of the navigation */
nav {
    display: grid;
    grid-template: 100% / 20px 1fr 3fr minmax(100px, 600px) 3fr 1fr 20px;
    align-items: center;
    height: 100px;
    width: 95%;
    margin: auto;
    font-family: var(--poppins);
    font-weight: var(--semi-bold);
    font-size: 13px;
    text-align: center;
}

/* Styling the images in the nav */
nav img {
    height: 20px;
}

/* Specific styling of the logo image in navigation */
.logo {
    grid-column: 3;
    margin-right: auto;
    transition: all 100ms ease-in-out;
}

.logo:hover {
    opacity: 50%;
    height: 24px;
}

/* Specific styling of the social icon in navigation */
.social {
    grid-column: 5;
    margin-left: auto;
    cursor: pointer;
    transition: all 100ms ease-in-out;
}

.social:hover {
    opacity: 50%;
    height: 24px;
}

/* Editing the flex properties of the navigation text */
nav section {
    display: grid;
    grid-template: 100% / repeat(4, 1fr);
    height: 100%;
    align-items: center;
}

/* Changing the style of the navigation links */
nav a {
    text-decoration: none;
    color: var(--dark-gray);
    transition: all 100ms ease-in-out;
}

/* Changing the display of the navigation links when hovered */
nav a:hover {
    font-size: 14px;
    opacity: 50%;
    transform:skew(-4deg);
    padding-bottom: 2px;
}

/* Changing the display of the navigation links when active */
nav a:active {
    font-size: 10px;
}

/* General header styling */
header {
    height: 700px;
    color: var(--dark-gray);
}

.header-grid {
    margin: auto;
    display: grid;
    width: 85%;
    height: 85%;
    grid-template: 100% / 1fr 1fr;
    align-items: center;
}

/* General styling of the section */
header article {
    padding: 40px;
    border-radius: 10px;
    background-color: var(--white);
    grid-column: 1;
}

/* This is the styling of the paragraph elements in the header */
header article p {
    margin-bottom: 15px;
    font-family: var(--poppins);
    letter-spacing: 1px;
    line-height: 1.6em;
}

/* This is the styling of the h1 elements in the header */
header article h1 {
    margin-bottom: 25px;
    font-family: var(--poppins);
    font-weight: var(--extra-bold);
    font-size: 40px;
}

/* The styling of the header button */
header article button {
    margin-top: 20px;
    border: none;
    font-family: var(--poppins);
    background-color: var(--candy-red);
    color: white;
    padding: 10px 25px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 150ms ease-in-out;
}

/* When you hover over the button it changes to thos color */
header article button:hover {
    background-color: var(--dark-gray);
}

header article button:active {
    font-size: 15px;
}

header article button img {
    height: 18px;
    margin-right: 8px;
    position: relative;
    top: 3px
}
/* Below are media queries */

@media screen and (max-width: 770px) {

    /* Makes the links dissapear */
    nav section {
        display: none;
    }


    /* Changes the header grid layout */
    .header-grid {
        margin: auto;
        display: grid;
        width: 90%;
        height: 85%;
        grid-template: 100% / 100%;
        align-items: center;
    }
}
