:root {
    /* Rubik font */
    --rubik: 'Rubik', sans-serif;
    /* Poppins font */
    --poppins: 'Poppins', sans-serif;
    /* Font weights */
    --light: 300;
    --regular: 400;
    --medium: 500;
    --semi-bold: 600;
    --bold: 700;
    --extra-bold: 800;
    --black: 900;
}